.widgetLg {
  flex: 2;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(36, 63, 77, 0.19);
  -moz-box-shadow: 1px 1px 3px 1px rgba(36, 63, 77, 0.19);
  box-shadow: 1px 1px 3px 1px rgba(36, 63, 77, 0.19);
  padding: 20px;
}

.widgetLgTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLgTable {
  width: 100%;
  border-spacing: 20px;
}

.widgetLgTh {
  text-align: left;
}

.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLgImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgDate, .widgetLgAmount {
  font-weight: 300;
}

.widgetLgButton {
  padding: 7px 10px;
  border: none;
  width: 90px;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.widgetLgButton.Approved {
  background: rgba(0, 255, 0, 0.5);
  color: rgb(67, 99, 114);
}

.widgetLgButton.Pending {
  background: rgba(128, 128, 128, 0.5);
  color: rgb(67, 99, 114);
}

.widgetLgButton.Declined {
  background: rgba(255, 0, 0, 0.5);
}