.sidebar {
  flex: 1;
  background: rgb(67, 99, 114);
  height: calc(100vh - 80px);
  position: sticky;
  top: 80px;
}

.sidebarWrapper {
  padding: 20px;
  color: rgba(163, 187, 200);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgba(163, 187, 200, 0.7);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background: rgba(36, 63, 77, 0.5);
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}